/DTM.Test.Api/obj
/DTM.Test.Api/bin
/.vs
/DTM.Test.OMR/obj
/DTM.Test.OMR/bin
/DTM.Test.Demo/bin
/DTM.Test.Demo/obj
/OmrEngine/MarkEngine.Core/bin
/OmrEngine/MarkEngine.Core/obj
/OmrEngine/OmrConsole/bin
/OmrEngine/OmrConsole/obj
/OmrEngine/OmrScannerApplication/obj
/OmrEngine/OmrScannerApplication/bin
/OmrEngine/ScannerTemplate/obj
/OmrEngine/ScannerTemplate/bin
/MarkEngine/MarkEngine.Core/obj
/MarkEngine/MarkEngine.Core/bin
/MarkEngine/OmrConsole/obj
/MarkEngine/OmrConsole/bin
/MarkEngine/OmrScannerApplication/bin
/MarkEngine/OmrScannerApplication/obj
/MarkEngine/ScannerTemplate/obj
/MarkEngine/ScannerTemplate/bin
