<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EngineExcutableFile" value="D:\projects\ACE CRAFT ENGINE\DTM test\DTM.Test\DTM.Test.Api\OmrMarkEngine\OmrConsole.exe"/>
    <add key="EngineTemplateDirectory" value="D:\projects\ACE CRAFT ENGINE\DTM test\DTM.Test\DTM.Test.Api\OmrMarkEngine\Templates"/>
    <add key="EngineOutputDirectory" value="D:\projects\ACE CRAFT ENGINE\DTM test\DTM.Test\DTM.Test.Api\OmrMarkEngine\Temp"/>
    <add key="EngineUploadDirectory" value="D:\projects\ACE CRAFT ENGINE\DTM test\DTM.Test\DTM.Test.Api\OmrMarkEngine\Upload"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
